@(helloForm: Form[(String,String,String)])

@import helper._

@main(title = "GASP!") {

    <h1>Create a new GASP restaurant entry:</h1>

    @form(action = routes.Application.createRestaurant, args = 'id -> "helloform") {

        @inputText(
            field = helloForm("name"),
            args = '_label -> "Restaurant Name", 'placeholder -> "My Restaurant"
        )

        @inputText(
            field = helloForm("website"),
            args = '_label -> "Website", 'placeholder -> "www.example.com"
        )


        @inputText(
            field = helloForm("address"),
            args = '_label -> "Address", 'placeholder -> "2 World Ave."
        )


        <p class="buttons">
            <input type="submit" id="submit">
        <p>

    }

}
