@(helloForm: Form[(String,String,String)])

@import helper._

@main(title = "Create a new restaurant entry for GASP") {

    <h1>Configure your 'Hello world':</h1>

    @form(action = routes.Application.createRestaurant, args = 'id -> "helloform") {

        @inputText(
            field = helloForm("name"),
            args = '_label -> "Restaurant Name", 'placeholder -> "World"
        )

        @inputText(
            field = helloForm("website"),
            args = '_label -> "Website", 'placeholder -> "World"
        )


        @inputText(
            field = helloForm("address"),
            args = '_label -> "Address", 'placeholder -> "World"
        )


        <p class="buttons">
            <input type="submit" id="submit">
        <p>

    }

}
